html {
    font-size: 62.5%;
}

:root {
    --color-text: #dfdfdf;
    --color-text-inv: #000000;
    --color-background: #222222;
    --color-slider-back: #898989;
    --color-overlay: #ffffff0f;
    --color-borders: #dfdfdf;
    --color-win: #000000;
}

.light {
    --color-text: #000000;
    --color-text-inv: #ffffff;
    --color-background: #dfdfdf;
    --color-slider-back: #6a6a6a;
    --color-overlay: #0000000f;
    --color-borders: #000000;
    --color-win: #000000;
}

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
    :root {
        --color-accent: #CCED03;
        --color-accentHover: #c6e500;
        --color-headings: #fff;
        --color-primary: #171717;
        --color-secondary: #999999;
        --color-text: #ffffff;
        --color-Overlay: #0000002e;
        --color-OverlayLight: #ffffff1a;
        --color-borders: #000000d2;
    }
} */


body {
    background-color: var(--color-background);
    font-family: 'Tilt Neon', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    user-select: none;
    color: var(--color-text);
}

.-grid2.wordleOpen {
    transform: translateX(-100vw);
    transition: all 1s ease;
}

.-grid2 {
    display: grid;
    grid-template-columns: 100vw 100vw;
    justify-content: space-evenly;
    justify-items: center;
    position: absolute;
    transform: translateX(0px);
    transition: all 1s ease;
}

.menu_con {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.wordle {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.won #winText {
    opacity: 1;
    transition: opacity 1s linear;
}

#winText {
    font-size: var(--elemSize2);
    position: absolute;
    opacity: 0;
    transition: opacity 1s linear;
    color: var(--color-win);
    text-shadow: 0px 0px 10px rgb(255, 255, 255),0px 0px 30px rgb(255, 255, 255),0px 0px 50px rgb(255, 255, 255),0px 0px 100px rgb(255, 255, 255);
}

.wordleOpen .icon {
    position:absolute;
    transform: translateX(calc(100vw + 13rem));
    transition: transform 1s ease;
}

.icon {
    font-size: var(--elemSize);
    left: -10rem;
    padding: 0;
    position:absolute;
    top: 2rem;
    transition: all 1s ease;
}

.menu {
    background-color: var(--color-overlay);
    border-radius: 10px;
    border: 1px solid var(--color-borders);
    max-width: 60rem;
    padding: 1rem;
    width: 100%;
}

p {
    margin: 0;
}

.settings_field {
    border-radius: 10px;
    border: 1px solid var(--color-borders);
    display: flex;
    flex-wrap: wrap;
    height: 13rem;
    justify-content: center;
    margin: 5px 0;
    width: 100%;
}

.bigText {
    font-size: 10rem;
}

.button {
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.slider {
    align-content:center;
    font-size: 3rem;
}

.slider_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
}

#textw,
#texth {
    text-align: right;
}

.slider_box {
    background-color: var(--color-slider-back);
    border-radius: 300px;
    height: 3rem;
    margin: 0 2rem;
    overflow: hidden;
    width: 100%;
}

.slider_ind {
    align-items: center;
    background-color: var(--color-text);
    border-radius: 30px;
    color: var(--color-text-inv);
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    height: 100%;
    user-select: none;
    width: var(--relative_pos);
}

.grid {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(var(--width), 2fr);
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.current {
    box-shadow:0px 0px 10px gray;
}

.letter_field {
    border-radius: 0px;
    border: 1px solid var(--color-borders);
    font-size: var(--elemSize2);
    height: var(--elemSize);
    text-align: center;
    width: var(--elemSize);
}

.letter_field p {
    text-transform: uppercase;
    pointer-events: none;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

.win {
    box-shadow:0px 0px 40px #09ff00;
    transition: box-shadow .3s linear;
}

.light-icon {
    cursor: pointer;
    pointer-events: none;
    color: var(--color-text-inv);
    font-size: 2rem;
    padding-left: 2px;
}

.light #darkDisplay {
    cursor: pointer;
    transform: translateX(-4.2rem);
    transition: transform .35s ease;
}

#darkDisplay {
    pointer-events: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 6rem;
    background-color: var(--color-text);
    transform: translateX(-.2rem);
    transition: transform .35s ease;
}

#darkButton {
    cursor: pointer;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 4rem;
    width: 8rem;
    border-radius: 6rem;
    border: 2px var(--color-borders) solid;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 5rem;
    z-index: 1;
}