html {
    font-size: 62.5%;
}
body {
    font-family: 'Tilt Neon', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* overflow: hidden; */
    background-color: rgb(223, 223, 223);
}

.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    height: 100vh;
    max-height: 100%;
    justify-content: center;
    align-items: center;
}

.menu.inactive {
    position: absolute;
    transform: translateX(calc(-50vw - 50%));
    transition: transform 1s ease
}

.menu {
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    max-width: 60rem;
    transform: translateX(0px);
    transition: transform 1s ease
}

p {
    margin: 0;
}

.settings_field {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 13rem;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px 0;
}

.button {
    font-size: 10rem;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.slider {
    align-content:center;
    font-size: 3rem;
}

.slider_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
}

#textw,
#texth {
    text-align: right;
}

.slider_box {
    height: 3rem;
    width: 100%;
    background-color: rgb(136, 136, 136);
    margin: 0 2rem;
    border-radius: 300px;
    overflow: hidden;
}

.slider_ind {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: var(--relative_pos);
    border-radius: 30px;
    user-select: none;
}

.grid {
    display: grid;
    /* grid-template-columns: repeat(5, 5fr); */
    grid-template-columns: repeat(var(--width), 5fr);
    align-content: center;
    width: 51rem;
    margin: 0 auto;
    padding: 0;
}

.letter_field {
    height: 10rem;
    width: 10rem;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 8.5rem;
    text-align: center;
}

.letter_field p {
    text-transform: uppercase;
}

.icon {
    position:absolute;
    right: 3rem;
    top: 2rem;
    font-size: 10rem;
    padding: 0;
}