html {
    font-size: 62.5%;
}
body {
    background-color: rgb(221, 221, 221);
    font-family: 'Tilt Neon', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    user-select: none;
}

.-grid2.wordleOpen {
    transform: translateX(-100vw);
    transition: all 1s ease;
}

.-grid2 {
    display: grid;
    grid-template-columns: 100vw 100vw;
    justify-content: space-evenly;
    justify-items: center;
    position: absolute;
    transform: translateX(0px);
    transition: all 1s ease;
}

.menu_con {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.wordle {
    display: grid;
    height: 100vh;
    width: 100vw;
}

.wordleOpen .icon {
    position:absolute;
    transform: translateX(calc(100vw + 13rem));
    transition: all 1s ease;
}

.icon {
    font-size: 10rem;
    left: -10rem;
    padding: 0;
    position:absolute;
    top: 2rem;
    transition: all 1s ease;
}

.menu {
    border-radius: 10px;
    border: 1px solid black;
    max-width: 60rem;
    padding: 1rem;
    width: 100%;
}

p {
    margin: 0;
}

.settings_field {
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 13rem;
    justify-content: center;
    margin: 5px 0;
    width: 100%;
}

.button {
    font-size: 10rem;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.slider {
    align-content:center;
    font-size: 3rem;
}

.slider_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
}

#textw,
#texth {
    text-align: right;
}

.slider_box {
    background-color: rgb(136, 136, 136);
    border-radius: 300px;
    height: 3rem;
    margin: 0 2rem;
    overflow: hidden;
    width: 100%;
}

.slider_ind {
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    height: 100%;
    user-select: none;
    width: var(--relative_pos);
}

.grid {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(var(--width), 2fr);
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.letter_field {
    border-radius: 0px;
    border: 1px solid black;
    font-size: 8.5rem;
    height: 10rem;
    text-align: center;
    width: 10rem;
}

.letter_field p {
    text-transform: uppercase;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
  }